@model List<NutriFitApp.Shared.DTOs.UsuarioDTO>

@{
    ViewData["Title"] = "Entrenadores";
}

<h2 class="mt-4">Lista de entrenadores</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Registrar entrenador</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Nombre</td>
                <td>@e.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@e.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@e.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
